#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
:root {
    --dark-cyan: #119da4ff;
    --cerulean: #0c7489ff;
    --midnight-green: #13505bff;
    --black: #040404ff;
    --timberwolf: #d7d9ceff;
}

body {
    background-image: url("images/background.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
}

html {
    min-height: 100vh;
}

.container {
    background-color: var(--cerulean);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.card {
    background: var(--midnight-green);
    border-color: var(--cerulean);
    color: white;
}

.card-body {
    background: var(--midnight-green);
    border-color: var(--cerulean);
    color: white;
}
.card-text {
    color: white;
}

.card-title {
    color: white;
}

.btn-primary {
    background-color: var(--midnight-green);
    border-color: var(--midnight-green);
    color: white;
}

.btn-success {
    background-color: var(--cerulean);
    border-color: var(--cerulean);
    color: white;
}

.btn-danger {
    background-color: var(--black);
    border-color: var(--black);
    color: white;
}

.list-group-item {
    border-color: var(--cerulean);
    color: white;
}